
.content {
    width: 60%;
    height: 60%;
}
.textleft {
    margin: 150px 130px;
}
h1 {
    color: #ffffff;
    font-size: 20px;
}
p {
    font-size: 16px;
    color: #3A3434;
}
.bottompage {
    display: flex;
    justify-content: space-between;
}
.imgright {
    margin-top: 0px;
    padding: 10px 20px 50px 20px;
    border-radius: 50px;
}
.imgright img{
    width: 600px;
    background-color: white;
    border: solid 10px white;
    border-radius: 50px;
    margin: 30px 50px 0 0 ;
}
header nav ul .cadastro {
    border-radius: 40px;
    background-color: #02A0E9;
}
.cadastroa {
    color: #ffffff;
    
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 50px;
    text-align: center;
    width: 500px; /* Could be more or less, depending on screen size */
    height: 450px;
  }
  .bemVindo, .faca {
      color: #000000;
  }
  